<!--
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<button mat-button>Basic</button>
<mat-checkbox class="example-margin">JavaSript Api</mat-checkbox>

<br>
<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

<br>

<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

<br>
<mat-form-field class="example-full-width" appearance="standard">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="">
  </mat-form-field>

-->
<div class="form-body">

    <mat-card class="col-md-12">
        <h1 class="card-title">New User Registration</h1>
        <div class="flex-column m-10">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Piter" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Smith" value="">
            </mat-form-field>

        </div>
        <div>
            <mat-form-field class="example-full-width-full" appearance="fill">
                <mat-label>Email ID</mat-label>
                <input matInput placeholder="smith@gmail.com" value="">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="Piter" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Smith" value="">
            </mat-form-field>
        </div>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
        </mat-radio-group>

        <button mat-button>Login</button>
    </mat-card>
</div>